*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --side-width:250px;
    --bg-color:#FAFFC1;
    --topnav:56px;
    --bg-student:#F0F9FF;
    --bg-course:#FEF6FB;
    --bg-payments:#FEFBEC;
    --bg-user:linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);
}
.sidebar{
    width: var(--side-width);
    background-color: var(--bg-color);
    border-color: var(--bg-color);
}
.youcode_user{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
main{
    margin-left: 25px;
}
.student{
    background-color: var(--bg-student);
    border-color: var(--bg-student);
    border-radius:8px;
}
.student i{
    color: #74C1ED;
}
.course{
    background-color: var(--bg-course);
    border-color:var(--bg-course);
    border-radius:8px;
}
.course i{
    color:#EE95C5;
}
.payments{
    background-color:var(--bg-payments);
    border-color:var(--bg-payments);
    border-radius:8px;
}

.payments i{
    color:#00C1FE;
}
.users{
    background:var(--bg-user);
    border-color:none;
    border-radius:8px;
}

.users i {
    color: white;
}
.para{
    color: white;
}
.heading{
    font-size: 14px;
}
.card_icon{
    font-size: 34px;
}
span{
    font-size: 14px;
    
}

.sidebar_items li{
    margin-left: 30px;
    box-sizing: border-box;
}
@media screen and (min-width:992px) {
    .sidebar{
        transform: none;
        visibility: visible !important;
        /*top:var(--topnav);*/
    }
    main{
        margin-left: var(--side-width);
    }
    
    .sidebar_items li :hover{
        width: 120px;
        background-color: #00C1FE;
    }
}