@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserra' sans-serif;
}
:root {
    --side-width:270px;
    --bg-color:#FAFFC1;
    --topnav:56px;
}
.sidebar{
    width: var(--side-width)!important;
    background-color: var(--bg-color);
    border-color: var(--bg-color);
}
.youcode_user{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.sidebar_items li{
    margin-left: 30px;
    box-sizing: border-box;
}
main{
    margin-left: 50px;
}
.table-head {
    border-top: 1px;
    border-color: #ACACAC;
}

@media screen and (min-width:992px) {
    .sidebar{
        transform: none;
        visibility: visible !important;
        /*top:var(--topnav);*/
    }
    main{
        margin-left: var(--side-width);
    }
    
    .sidebar_items li :hover{
        width: 120px;
        background-color: #00C1FE;
    }
}