@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserra' sans-serif;
}
:root {
    --side-width:270px;
    --bg-color:#FAFFC1;
    --bg-student:#F0F9FF;
    --bg-course:#FEF6FB;
    --bg-payments:#FEFBEC;
    --bg-user:linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);
}

.sign_in{
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign_in h1{
    align-self: flex-start;
}
.title_sign_in legend{
    padding-left: 35%;
}

@media screen and (min-width:992px) {
    .page{
        font-family:'Montserrat', sans-serif;
        background: linear-gradient(69.66deg, #00C1FE 19.39%, #FAFFC1 96.69%);
        min-height: 100vh;
    }
    .sign_in{
        display: block;
        margin-top: 5% !important;
        margin-right: 30%;
        border-radius: 20px;
        width: 35%;
        padding-right: 0px;
    }
    .sign_in h1{
        font-size: 32px;
    }
    .title_sign_in{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title_sign_in legend{
        font-size: 22px;
    }
    .title_sign_in p{
        font-size: 14px;
    }
    ::placeholder{
        color: #cdcdcd;
        font-size: 12px;
    }
    .forgrt_password{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    .user_sing{
        width:90%;
        box-shadow:0;
    }

}

